[Unit]
Description=Démarrage dynamique des conteneurs Docker dans /srv
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /srv/autostart.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
