[Unit]
Description=Démarrage dynamique des conteneurs Docker dans /srv
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/autostart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
